---
layout: default
title: Gustave Paté Hideout
---


<div id="frontmatter">
    {% capture sidebar %}{% include frontmatter.md %}{% endcapture %} 
    {{sidebar | markdownify }}
</div>

{% include social.html %}

<div id="postlist">
    <h1>Blog Posts</h1>
    <ul class="posts">
        {% for post in site.posts %}
        <li>
        <span>{{ post.date | date_to_string }}</span> &raquo; 
        <a href="{{ post.url }}">{{post.title }}</a>
        <div class="excerpt">{{ post.excerpt }}</div>
        </li>
        {% endfor %}
    </ul>
</div>
