<!-- FOOTER -->
<div id="footer_wrap" class="outer">
    <div id="footer" class="inner">
        <div class="contact">
            <p> 
            <a class="webicon github small" href="">github_logo</a>
            <a class="text" href="http://github.com/{{site.github}}/">github.com/{{site.github}}</a>
            </p>
            <p>
            <a class="webicon twitter small" href="">twitter_logo</a>
            <a class="text" href="http://twitter.com/{{site.twitter}}/">@{{site.twitter}}</a>
            </p>
            <p>
            <a class="webicon mail small" href="">mail_logo</a>
            <a class="text" href="mailto:{{site.email | uri_escape}}">{{site.email}}</a>
            </p>
        </div>
        <div class="me">
            <p>
            {{site.author}}<br />
            {{site.motto}}<br />
            </p>
        </div>
    </div> <!-- footer -->
</div><!-- footer_wrap -->
