
<meta charset="utf-8"/>

<!-- VARIOUS META DATA -->

<!-- meta description -->
{% if page.description %}
<meta name="description" content="{{page.description}}" />
{% else %}
<meta name="description" content="{{site.description}}" />
{% endif %}
<!-- meta keywords -->
{% if page.categories %}
<meta name="keywords" content="{{page.categories | join: ','}}" />
{% else %}
<meta name="keywords" content="{{site.tags | join: ','}}" />
{% endif %}
<!-- canonical url -->
<link rel="canonical" href="{{site.url}}{{page.url}}"/>
<!-- link to google plus profil -->
<link rel="author" href="http://plus.google.com/115414251925827981582"/>
<title>{{site.title}} - {{ page.title }}</title>
<meta name="viewport" content="width=device-width"/>

<!-- CSS -->

<!-- Custom CSS -->
<link rel="stylesheet" type="text/css" media="screen" href="/css/main.css"/>
<link rel="stylesheet" type="text/css" media="screen" href="/css/pygment_trac.css"/>

<!-- favicon -->
<link href="/ressources/favicon.ico" rel="icon" type="image/x-icon" />
<!-- adam's webicons .css -->
<link rel="stylesheet" href="/css/webicons.css">

<!-- twitter card -->

<meta name="twitter:card" content="summary"/>
<meta name="twitter:site" content="@GustavePate"/>
<meta name="twitter:creator" content="@GustavePate"/>
{% if page.title %}
    <meta name="twitter:title" content="{{page.title }}"/>
{% else %}
    <meta name="twitter:title" content="{{site.title }}"/>
{% endif %}

<meta name="twitter:url" content="{{site.url }}{{page.url }}"/>

{% if page.article %}
    {% if page.description %}
        <meta name="twitter:description" content="{{page.description }}"/>
    {% else %}
        <meta name="twitter:description" content="{{page.content | strip_html | xml_escape | truncate: 200 }}"/> 
    {% endif %}
{% else %}
    <meta name="twitter:description" content="{{site.description }}"/>
{% endif %}

{% if page.image %}
    <meta name="twitter:image" content="{{site.url }}/ressources/images/{{ page.image }}"/>
{% else %}
    <meta name="twitter:image" content="{{site.url }}/ressources/images/{{ site.image}}"/>
{% endif %}


<!-- facebook -->
<meta property="fb:admins" content="100006340830001" />

<!-- Open Graph -->

<meta content="{{site.name }}" property="og:site_name"/> 

{% if page.article %} 
    <meta content="article" property="og:type"/> 
    <meta content="{{page.title}}" property="og:title"/> 

    {% if page.description %} 
        <meta content="{{page.description }}" property="og:description"/> 
    {% else %}
        <meta content="{{page.content | strip_html | xml_escape | truncate: 200 }}" property="og:description"/> 
    {% endif %} 

    {% if page.date %} 
        <meta content="{{page.date | date_to_xmlschema }}" property="article:published_time"/> 
        <meta content="{{site.url }}/about.html" property="article:author"/> 
    {% endif %} 

    {% if page.categories %} 
        {% for category in page.categories limit:1 %} 
            <meta content="{{category }}" property="article:section"/> 
        {% endfor %} 
    {% endif %} 

    {% if page.tags %} 
        {% for tag in page.tags %} 
            <meta content="{{tag }}" property="article:tag"/> 
        {% endfor %} 
    {% endif %}

{% else %}
    <meta content="website" property="og:type"/> 
    <meta content="{{site.title }}" property="og:title"/> 
    <meta content="{{site.description }}" property="og:description"/> 
{% endif %} 

<meta content="{{site.url }}{{page.url }}" property="og:url"/>  

{% if page.image %} 
    <meta content="{{site.url }}/ressources/images/{{page.image }}" property="og:image"/>
{% else %} 
    <meta content="{{site.url }}/ressources/images/{{site.image}}" property="og:image"/> 
{% endif %} 

<!-- not allowed for a site or article -->
<!--meta property="profile:first_name" content="{{site.firstname}}"/-->
<!--meta property="profile:last_name" content="{{site.lastname}}"/-->
<!--meta property="profile:gender" content="{{site.gender}}"/-->

<!-- redirect 404 errors automatically -->
{% if page.url == "/404.html" %}
    <meta http-equiv="refresh" content="5; url=/">
{% endif %}


<!-- VARIOUS JAVASCRIPTS -->

<!-- twitter -->
<script>
    !function(d,s,id){
    var js,fjs=d.getElementsByTagName(s)[0];
    if(!d.getElementById(id)){
    js=d.createElement(s);
    js.id=id;
    js.src="https://platform.twitter.com/widgets.js";
    fjs.parentNode.insertBefore(js,fjs);
    }
    }(document,"script","twitter-wjs");
</script>
<!-- facebook -->
<script>
    (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
    fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>
<!-- flattr -->
<script type="text/javascript"> 
    /* <![CDATA[ */ 
(function() { 
 var s = document.createElement('script'); 
 var t = document.getElementsByTagName('script')[0]; 
 s.type = 'text/javascript'; 
 s.async = true; 
 s.src = 'https://api.flattr.com/js/0.6/load.js?'+
 'mode=auto&'+
 'button=compact&'+
 'category=text&'+
 'popout=0&'+
 'uid={{site.flattr}}';
 t.parentNode.insertBefore(s, t); 
 })(); 
/* ]]> */ 
</script>

<!-- google analytics -->

<script>
    (function(i,s,o,g,r,a,m){
        i['GoogleAnalyticsObject']=r;
        i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();
        a=s.createElement(o),m=s.getElementsByTagName(o)[0];
        a.async=1;
        a.src=g;
        m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-42398879-1', 'gustavepate.github.io');
    ga('send', 'pageview');

</script>

