<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#">
    <head>
        {% include head.html %}
    </head>

    <body>
        <div class="no-svg" id="page_warp">

            {% include header.html %}

            {% include menu.html %}

        <!--
        <script type="text/javascript" 
            src="/ressources/helium-css/helium.js">
        </script>
        <script type="text/javascript"> 
            window.addEventListener('load', function(){ helium.init(); },false);
        </script>
        -->


        <!-- MAIN CONTENT -->
        <div id="main_content_wrap" class="outer">
            <section id="main_content" class="inner">

                    {{ content }}

            </section>
   <!--         <section id="right_col_wrap" class="outer">
   </section>--><!-- right_col_wrap -->
        </div><!-- main_content -->

        {% include footer.html %}

    </div> <!-- page warp -->
    </body>
</html>
