---
layout: default
---

<div id="post_header">
    <h1>{{ page.title }}</h1>
    <p class="date">{{ page.date | date_to_string }}</p>
    <div id="comment_excerpt"><a href="{{post.url}}#disqus_thread"></a></div>
</div>

<div class="post">
    {{page.description}}
    <br/><br/>
    {{ content }}


</div>

{% include social.html %}

<!-- postfooter -->
<div id='postfooter'>

    <!-- categories -->
    <div class="post_cat_list">
        <ul class='keyword_list'>

            {% assign listsize = (page.categories | size) %}

            {% if listsize == 1 %}
                    <li class='list_title'>Category:</li>
            {%else%}
                    <li class='list_title'>Categories:</li>
            {%endif%}

            {% for category in page.categories %}
            <li class="keyword">
            {{category}}
            </li>
            {% endfor %}
        </ul>
    </div>

    <!-- tags -->
    <div class="post_cat_list">
        <ul class='keyword_list'>

            {% assign listsize = (page.tags | size) %}

            {% if listsize == 1 %}
                    <li class='list_title'>Tag:</li>
            {%else%}
                    <li class='list_title'>Tags:</li>
            {%endif%}
            {% for tag in page.tags %}
            <li class="keyword">
            {{tag}}
            </li>
            {% endfor %}
        </ul>
    </div>

</div> <!-- post footer -->

<div id="related_posts">
    <span>Maybe you'll like to read:</span>
    <ul>
    {% for post in site.related_posts %}
        <li>
        <span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{post.title }}</a>
        </li>
    {% endfor %}
    </ul>
</div>

{% include disqus.html %}
